.h1-div-margin {
  margin-top: 100px;
  margin-bottom: 60px;
}

.p-div-margin {
  margin: 20px;
}

.component {
  padding-bottom: 100px;
}

.completed-projects-component {
  background-color: #a0b0c1;
}

.github-component {
  background-color: #a0b0c1;
}

.about-creator-component {
  background-color: #a0b0c1;
}

.min-card-height {
  height: 200px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
}

.card-text-height {
  height: 200px;
}

.color-card {
  background-color: #a0b0c1;
}

.icon-md {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

.skills-list {
  list-style-type: none;
  padding: 0px;
}

.skills-text {
  height: 150px;
}

.row-padding {
  padding: 20px 0px 20px 0px;
}

.btm-margin {
  margin-bottom: 20px;
}

.auto-width {
  width: auto;
}

@media only screen and (max-width: 481px) {
    /* phones */
    .sm-margin {
      margin: 10px;
    }
}
